
<div class="row">
    <div class="col-md-4">
        <h2>Lista de clientes</h2>
    </div>
    <div class="col-md-2 add-client-button">
        <button mat-raised-button id="add-client-button" color="primary" (click)="openClientModal(undefined)">
            <mat-icon>person_add</mat-icon>
            Añadir cliente
          </button>
          
    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <table mat-table [dataSource]="tableClientsData"
            class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let client"> {{client.id}} </td>
            </ng-container>

            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef> Avatar </th>
                <td mat-cell *matCellDef="let client">  <img [src]="client.avatar" alt="Avatar" width="40" height="40" style="border-radius: 50%;" /></td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Creado en </th>
                <td mat-cell *matCellDef="let client"> {{client.createdAt |
                    formatDate}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let client"> {{client.name}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let client"> {{client.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="secondLastname">
                <th mat-header-cell *matHeaderCellDef> Apellido segundo </th>
                <td mat-cell *matCellDef="let client"> {{client.secondLastname}}
                </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Movil </th>
                <td mat-cell *matCellDef="let client"> {{client.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> email </th>
                <td mat-cell *matCellDef="let client"> {{client.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actionButtons">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item
                            (click)="openActionButonClientTable(element, 1)">
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item
                            (click)="openActionButonClientTable(element,2)">
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="tableClientsColumnsHeaders"></tr>
            <tr mat-row
                *matRowDef="let row; columns: tableClientsColumnsHeaders;"></tr>
        </table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons></mat-paginator>

    </div>
</div>
